body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #555;
}

#login-section, #admin-content {
    margin-top: 20px;
}

input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: inline-block;
    background: #5cb85c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    opacity: 0.9;
}

#login-button {
    width: 100%;
}

.status {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.error {
    color: #d9534f;
}

.success {
    color: #5cb85c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.toggle-button.disable {
    background-color: #d9534f; /* Red for disable */
}

.toggle-button.enable {
    background-color: #5cb85c; /* Green for enable */
}